.match_team_header{
	text-transform:uppercase; 
	line-height:30px; 
	margin-bottom:5px; 
	border-bottom: 1px #aaa solid; 
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

#match_middle_area{
	width:400px;
	margin: auto;
	clear: both;
}